{% extends 'core/base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-4 gap-8">
            <div class="col-span-1">
                <img src="{{ book.image_url }}" alt="Book Cover" class="w-full object-cover mb-4">
            </div>
            <div class="col-span-2">
                <h2 class="text-3xl font-bold mb-4"><span class="font-bold">Title:</span> {{ book.title }}</h2>
                <p class="text-lg text-gray-800 mb-2"><span class="font-bold">ISBN:</span> {{ book.isbn }}</p>
                <p class="text-lg text-gray-800 mb-2"><span class="font-bold">Author(s):</span> {{ book.author }}</p>
                <p class="text-lg text-gray-800 mb-2"><span class="font-bold">Publisher:</span> {{ book.publisher }}</p>
                <p class="text-lg text-gray-800 mb-2"><span class="font-bold">Description:</span> {{ book.description }}</p>
            </div>
            <div class="col-span-1">
                <div class="bg-gray-200 rounded-lg p-4">
                    <p class="text-lg">Available Quantity: {{ book.available_quantity }}</p>
                    <p class="text-lg mt-2">Quantity: {{ book.quantity }}</p>
                    <p class="text-lg mt-2">Borrower Emails:</p>
                    <ul>
                        {% if book.available_quantity < book.quantity %}
                            {% if book.id in borrowed_book_ids %}
                                {% for log_entry in borrowed_books %}
                                    {% if log_entry.book_id == book.id %}
                                        {% if log_entry.borrower_email %}
                                            <li>{{ log_entry.borrower_email }}</li>
                                        {% else %}
                                            <li>N/A</li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li>N/A</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <div class="flex justify-between mt-6">
                        <a href="{% url 'checkout' book.isbn %}" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600">Check Out</a>

                        <a href="{% url 'checkin' %}" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600">Check In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}